
html,
body {
  margin: 0;
  background-color: #fdd8c4;
}
.logo p{
    display:inline;
    position: absolute;
    vertical-align: middle;
    font-size: 35px;
    margin: 10px;
    font-family:Courier New, fantasy, cursive, Helvetica;
    color:
#0c0d0e;
}

a:link {
    transition: all 0.3s ease; /*Aplicamos um efeito de transição*/
    text-decoration: none; /*Removemos o sublinhado*/
    color: 
black;
    font-family:Courier New, fantasy, cursive, Helvetica;
  }
  
a:hover {
 color: black;
}

.main_area img{
    width: 600px;
    height: 350px;
    margin: 10px;
    align-content: center;
}

.perfil_area{
    align-content: center;
}
.botao-categoria{
    align-content: right;
}
.projetos_area{
    padding: 10px;
    padding-left: 10px;
  font-family:Courier New, fantasy, cursive, Helvetica;
}
.footer{
  width:100%;
    font-size: 15px;
    font-family:Courier New, fantasy, cursive, Helvetica;
    background: #cf7e4f;
    color: #0c0d0e;
}
.footer_area{
    padding: 20px;
    text-align: center;
}

.main .card{
    margin-bottom: 10px;
  text-align: center;
  font-family:Courier New, fantasy, cursive, Helvetica;
}
.main .card img{
    padding: 10px;
}
.main .card iframe{
    padding-left: 10px;
    padding-right: 10px;
}
.cards-experiência{
    padding: 10px;
    padding-left: 10px;
}


@media screen and (max-width:600px){
    .projetos_area{
        padding-left: 20px;
    }
}
  
    main {
      margin-top: 40px;
    }
.titulo_cde{
    text-align: center;
    padding: 5%;
}
.botoes_cde{
    padding-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.perfil{
    width: 15%;
    padding-bottom: 1%;
}
.cde_area{
    font-family:Courier New, fantasy, cursive, Helvetica;
  align-content: center;
    padding-top: 2%;
    padding-left: 5%;
    
      
}
.Bio_form{
    padding-top: 1%;
}
 .form-check{
    padding-bottom: 1%;
 }
  